/Baseline/bp_feature/faster_rcnn_from_caffe_attr.pkl
/Baseline/Capture/result/XXXX_result.jsonl
/Baseline/Capture/result/result.zip
/Baseline/Capture/testv2/item_train_features.tsv
/Baseline/Capture/testv2/item_valid_features.tsv
